.button{
  display:block;
  width:100%;
}
.button a{
  background-color:#D9544A;
  padding:25px 95px;
  text-transform: capitalize;
  display:inline-block;
  color:white;
}

@media (max-width:1200px){
  .button{
    display:flex;
    justify-content: center;
  }
}