button{
  background-color:#D9544A;
  padding:25px 95px;
  text-transform: capitalize;
  display:inline-block;
  color:white;
  border:none;
  width:fit-content;
  margin-left:auto;
  box-sizing: border-box;
}

@media (max-width:1200px){
  button{
    width:100%;
    padding:25px 20vw;
  }
}