.content{
  position:sticky;
  top:50vh;
  margin-bottom:25vh;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transform:translateY(-50%);
  transition:0.5s;
}