.description{
  width:30.2vw;
  display:inline-block;
  background-color:rgba(217,84,74,0.86);
  height:fit-content;
  padding:45px;
  text-align: center;
  clip-path: polygon(15px 0, 100% 0%, calc(100% - 15px) 100%, 0% 100%);
  transition:1s;
}

@media (max-width:1200px){
  .description{
    width:100%;
    margin-bottom:1.67vh;
  }
}